body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image:linear-gradient(rgb(76, 112, 190) , rgb(173, 75, 173) , rgba(110, 160, 221, 0.799) )
}

.container {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background-color: rgb(126, 137, 186);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

h1 {
    text-align: center;
    color: #333333;
}

.currency-select {
    text-align: right;
    /* display: inline-block; */
    /* margin-bottom: 20px; */
}

.currency-select label {
    margin-right: 10px;
    font-weight: bold;
}

.currency-select select {
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #cccccc;
    border: none;
}

.toggle-bar {
    
    /* width: 6rem;
    height: 3rem; */
    align-items: center;
    justify-content: center;
    /* text-align: center; */
    margin-bottom: 20px;
    display: flex;
}
.toggle-label{
    width: 4rem;
    background-color:rgb(5, 86, 152) ;
    height: 2.6rem;
    display: inline-block;
    border-radius: 4rem;
    position: relative;
}

.toggle_circle{
    display: inline-block;
    /* weidth: 2rem; */
    height: 1.3rem;
    border-radius: 50%;
position: absolute;
top: 0.6rem;
left: 0.5rem;
background-color: white;
width: 1.8rem;
transition: all 0.2s ;

}
#checkbox{
    visibility: hidden;
}
#checkbox:checked + .toggle-label .toggle_circle{
    transform: translateX(1rem);
}

/* .toggle-bar input[type="button"] {
    visibility: hidden;
    /* display: inline-block; */
    
/* }  */

/* .toggle-bar label {
    display: inline-block;
    padding: 10px 20px;
    margin: 6px 5px;
    background-color: #f1e2e2;
    border: 1px solid #cccccc;
    border-radius: 5px;
    cursor: pointer;
} */

/* .toggle-bar label:hover,
.toggle-bar input[type="button"] {
    background-color: #007bff;
    color: #ffffff;
    border-color: #007bff; */
/* } */

.plans {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    transition: all 1s;
}

.plan {
    background-color: #eadddda1;
    border: 1px solid #e0e0e0;
    border-radius: 10px;
    padding: 20px;
    width: 30%;
    text-align: center;
    box-shadow:0 0 20px 4px  rgb(126, 137, 186);
    overflow: hidden;
}
.plan:hover{
    transform: scale(1.05);
    overflow: hidden;
}

.plan h2 {
    margin-top: 0;
    color: #333333;
}

.price {
    font-size: 24px;
    margin: 10px 0;
    color: #333333;
}

.plan ul {
    list-style-type: none;
    padding: 0;
}

.plan li {
    margin: 10px 0;
    color: #666666;
}

.user-slider {
    text-align: center;
    margin-bottom: 20px;
}

.user-slider label {
    margin-right: 10px;
    font-weight: bold;
}

.user-slider input[type="range"] {
    width: 60%;
}

#user-count {
    font-weight: bold;
    color: #007bff;
}

.total-price {
    text-align: center;
    font-size: 24px;
    color: #333333;
}

.total-price h3 {
    margin: 0;
}
.span_month{
    margin-left: 0.8rem;
}
@media screen   and  (max-width:670px){

    .curlabel{
    font-size: 0.8rem;
}
#currency{
    font-size: 0.6rem;
}

}
    


